@page
@model Backend_Task03.Pages.Beers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Percentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Percentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Brewery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Brewery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.GoesWellWith)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.GoesWellWith)
        </dd>
    </dl>
</div>

<hr />
@if (Model.Beer != null && Model.Beer.BeerReviews != null && Model.Beer.BeerReviews.Count > 0)
{
    <div>
        <h4>Reviews</h4>
        @foreach (var comment in Model.Beer.BeerReviews)
        {
            <div>
                @comment.Rating
                @comment.Comment
            </div>
        }
    </div>
}

else
{
    <p>No reviews yet.</p>
}

<div>
    <h4>Add a Review</h4>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NewReview.Rating" class="control-label"></label>
            <div>
                <label><input type="radio" name="NewReview.Rating" value="1" /> 1</label>
                <label><input type="radio" name="NewReview.Rating" value="2" /> 2</label>
                <label><input type="radio" name="NewReview.Rating" value="3" /> 3</label>
                <label><input type="radio" name="NewReview.Rating" value="4" /> 4</label>
                <label><input type="radio" name="NewReview.Rating" value="5" /> 5</label>
            </div>
            <span asp-validation-for="NewReview.Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewReview.Comment" class="control-label"></label>
            <textarea asp-for="NewReview.Comment" class="form-control"></textarea>
            <span asp-validation-for="NewReview.Comment" class="text-danger"></span>
        </div>
        
        <div class="form-group">
                <label>This beers goes well with:</label>
            <label><input type="checkbox" name="NewReview.Meat"  /> Meat</label>
            <label><input type="checkbox" name="NewReview.Fish"  /> Fish</label>
            <label><input type="checkbox" name="NewReview.Chicken"/> Bird</label>
            <label><input type="checkbox" name="NewReview.Vegetarian" /> Veg</label>
            <label><input type="checkbox" name="NewReview.Dessert" /> Dessert</label>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <button type="button" onclick="location.href='@Url.Page("./Edit", new { id = Model.Beer?.ID })'">Edit</button>
    <button type="button" onclick="location.href='@Url.Page("./Index")'">Back to List</button>
</div>
