@page
@model Backend_Task03.Pages.Beers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <form asp-page="/Index" method="get">
        <button type="submit" class="btn btn-primary">Back To Index</button>
    </form>

</p>

@*<form method="post">
    <input type="text" name="findBeer" />
    <button type="submit">Search</button>
</form>*@

<form method="post">
    <input type="text" name="findBeer" />
    <input type="checkbox" name="beerType" value="Ale" /> Ale
    <input type="checkbox" name="beerType" value="Lager" /> Lager
    <input type="checkbox" name="beerType" value="Stout" /> Stout
    <button type="submit">Search</button>
</form>

<h1>Index</h1>

<p>
    <form asp-page="Create" method="get">
        <button type="submit" class="btn btn-primary">Create New</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Beer[0].Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Beer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brewery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                <td>
                    <button type="button" onclick="location.href='@Url.Page("./Edit", new { id = item.ID })'">Edit</button>
                    <button type="button" onclick="location.href='@Url.Page("./Details", new { id = item.ID })'">Details</button>
                    <button type="button" onclick="location.href='@Url.Page("./Delete", new { id = item.ID })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
