@page
@model Backend_Task03.Pages.BeerListModel
@{
    ViewData["Title"] = "Beer List";
}

<h1>Beer List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Percentage</th>
            <th>Brewery</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beer in Model.Beers)
        {
            <tr>
                <td>@beer.Name</td>
                <td>@beer.Description</td>
                <td>@beer.Type</td>
                <td>@beer.Percentage</td>
                <td>@beer.Brewery</td>
                <td>@beer.Country</td>
            </tr>
        }
    </tbody>
</table>

